@import '../../styles/variables';

.OwnerPage {
  
  .icon-container, .icon-description {
    text-align: center;
  }

  .icon-description {
    font-size: $font-lg;
    margin-top: 10px;
  }

  .fa {
    font-size: 80px;
  }
}